.home{
    background-color: white;
    display: flex;

    .left{
        flex: 0.6;
        overflow: hidden;
        
        .imageContainer{
            width: 700px;
   
        }
    }
    .right{
        flex: 0.4;
        overflow: hidden;
        position: relative;

        .wrapper{
            width: 80%;
            height: 80%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h1 {
                font-size: 60px;
                margin: 10px 0;
            }
            h2 {
                font-size: 35px;
            }

            a{
                position: absolute;
                bottom: 10px;
                left: 40%;

                img{
                    width: 30px;
                    animation: arrowBlink 1.5s infinite;
                }

                @keyframes arrowBlink {
                    100%{
                        opacity: 0;                        
                    }
                }
            }

        }
    }
}